@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.sd-bg{
  background-color:#fff8f3;
}
.text-primary{
  color:#fd6e0a;
}
.text-center{
  text-align: center;
}

.btn-primary{

  background-color: #FD6E0A;
  color:#fff;
  font-weight:bold;
  padding:18px 35px;
  border-radius:5px;
  font-size:20px;
  border:none;
  border-radius:5px;
  margin-right: 5px;


}
.section-title{
  font-size:35px;
  font-weight:bold;
  color:#181818;
}

.section-description{
  font-size:18px;
  color:#757575;
}
.dark-2{
  color:#474747;
}
/* header */
.header{
  background-image:url(img/developer.png),url(img/header_bg.png);
  background-repeat: no-repeat;
  background-position:top left,bottom right;
}


/* nav styles */
nav{
  display:flex;
  align-items: centers;
  justify-content:space-between;
  margin:0px 50px 0px 80px;

}
.nav-title{
  font-weight:800;
  font-size:45px;
}
nav ul li{
  list-style: none;
  margin:51px;
}

nav li a{
  text-decoration: none;
  font-size: 20px;
}

nav ul{
  display:flex;
  align-items: center;
}
/* banner style  */
.banner{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content{
  max-width:580px;
  margin:0px 50px 0px 80px;
}

.banner-greetings{
  font-size:45px;
  font-weight:600;
  margin:0px;
}

.banner-title{
  font-weight:bold;
  font-size:85px;
  margin:0px;
}
.banner-protflio-img{
  width:580px;
}

/* main */
main{
  max-width: 1140px;
  margin:0 auto;
} 
main section{
  margin: 130px 0px;
}

/* about */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  
}
.about-items{
  display: flex;
  justify-content:space-around;
}
.item-description{
  font-weight:600;
}

/* skills section style */
.skills-container{
  display:flex;
  gap:24px;
}
.skills{
  padding: 30px;
  border-radius: 5px;
  box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


/*  */



/* footer section start style */
footer{
  padding:130px 230px;
  display: flex;
  gap:100px
}
.footer-column{
  width:50%;
}
footer input[type="text"] ,input[type="email"]{
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  display: block;
  width:100%;
  padding:10px 18px;
  margin-bottom: 20px;

}


/* resume section style */

.resume-contriner{
  display:flex;
  /* justify-content: space-between; */
  gap:24px;
}

.experience-sub-title{
  font-size:20px;
  font-weight:400;
}
.experience-description, .experience-sub-title{
  color:#757575;
}

.resume hr{
  margin:30px 4px;
}